/* Define estilos globais para todos os elementos */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Define o tamanho da fonte para o elemento html */
html {
  font-size: 1em;
}

/* Define estilos para o corpo da página */
body {
  height: 100%;
  background-color: var(--cor0);
  font-family: var(--fonte-destaque);
}

/* Define variáveis de cores e fontes */
:root {
  --cor0: #f9f9fa;
  --cor1: #cdfff2;
  --cor2: #cffaef;
  --cor3: #8acfbe;
  --cor4: #287a66;
  --cor5: #285046;
  --cor6: #2e3132;
  --fonte-padrao: "Baloo Bhaijaan 2", sans-serif;
  --fonte-destaque: "Baloo Bhai 2", sans-serif;
}

/* Define estilos para o cabeçalho */
.cabecalho {
  color: var(--cor6);
  display: flex;
  justify-content: space-between;
  background-color: var(--cor0);
  box-shadow: 5px 5px 5px rgb(0 0 0 / 12%);
  margin-top: 10px;
  padding-bottom: 20px;
}

/* Define estilos para o logotipo */
.logo {
  color: var(--cor5);
  text-decoration: none;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 50px;
  white-space: nowrap;
  font-family: var(--fonte-padrao);
  font-weight: bolder;
}

.logo:hover {
  color: var(--cor5);
}

/* Define estilos para o menu */
.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}

/* Define estilos para os itens do menu no cabeçalho */
.cabecalho .menu li {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 20px;
}

/* Define estilos para os links no menu do cabeçalho quando hover */
.cabecalho .menu li a:hover {
  color: var(--cor3);
}

/* Define estilos para os links no menu do cabeçalho */
.cabecalho .menu li a {
  text-decoration: none;
}

/* Define estilos para os itens do menu */
.menu li {
  display: inline-block;
  margin-left: 20px;
}

/* Define estilos para os links no menu */
.menu li a {
  color: var(--cor6);
  text-decoration: none;
  vertical-align: middle;
}

/* Define estilos para os botões "Anunciar" e "Cadastrar" */
#Anunciar a,
#Cadastrar a {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  font-family: var(--fonte-padrao);
  font-weight: bolder;
}

/* Define estilos para o botão "Anunciar" */
#Anunciar a {
  background-color: var(--cor4);
  color: var(--cor0);
}

/* Define estilos para o botão "Anunciar" quando hover */
#Anunciar a:hover {
  background-color: var(--cor5);
}

/* Define estilos para o botão "Anunciar" quando ativo */
#Anunciar a:active {
  background-color: var(--cor6);
}

/* Define estilos para o botão "Cadastrar" */
#Cadastrar a {
  color: var(--cor4);
  border: 2px solid var(--cor4);
}

/* Define estilos para o botão "Cadastrar" quando hover */
#Cadastrar a:hover {
  background-color: var(--cor3);
}

/* Define estilos para o botão "Cadastrar" quando ativo */
#Cadastrar a:active {
  background-color: var(--cor6);
}

/* Define estilos para o ícone do menu mobile */
.mobile-menu-icon {
  display: none;
}

.mobile-menu-icon button {
  background-color: transparent;
}

/* Define estilos para o título h1 */
h1 {
  font-weight: bolder;
  color: var(--cor4);
  margin-left: 30px;
}

main {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}

.create-ad {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.create-ad h2 {
  color: var(--cor4);
  margin-bottom: 10px;
}

.create-ad p {
  margin-bottom: 30px;
  color: #666;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container .form-image {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.form {
  text-align: left;
}

form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

form h3 {
  margin-bottom: 15px;
  color: var(--cor4);
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: var(--cor4);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: var(--cor3);
  color: var(--cor4);
}

.rodape {
  color: var(--cor0);
  padding: 40px 0;
}

.container-rodape {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.informacoes,
.links-uteis,
.redes-sociais {
  flex-basis: 30%;
  text-align: center;
  color: var(--cor6);
}

.rodape p,
.rodape h4 {
  color: var(--cor6);
  margin-bottom: 20px;
}

.rodape ul {
  list-style: none;
  padding: 0;
}

.rodape li {
  margin-bottom: 10px;
}

.rodape a {
  color: var(--cor6);
  text-decoration: none;
  transition: color 0.3s ease;
}

.rodape a:hover {
  color: var(--cor3);
}

.rodape hr {
  margin: 20px 0;
  border: 1px solid var(--cor6);
}

.direitos-autorais {
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 1024px) {
  main {
    padding: 20px;
  }

  .create-ad {
    flex-direction: column;
    align-items: center;
  }

  .form-container,
  .form {
    width: 100%;
  }

  form {
    max-width: 100%;
  }

  .cabecalho {
    align-items: normal;
  }

  .logo {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .menu {
    list-style-type: none;
    margin-top: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #285046;
    transition: height 0.2s;
    overflow: hidden;
    height: 0;
    min-height: 0;
  }


  .menu.active {
    height: 450px;
    min-height: 150px;
  }

  .menu li {
    display: block;
    margin-left: 0;
  }

  .menu li a {
    display: block;
    padding: 10px 0;
    text-align: left;
    color: var(--cor0);
  }

  .menu li a:hover {
    color: var(--cor0);
  }

  #Anunciar a,
  #Cadastrar a {
    margin-top: 10px;
    background-color: var(--cor4);
    color: var(--cor0);
    border: 0px;
  }

  #Anunciar a:hover,
  #Cadastrar a:hover {
    background-color: var(--cor3);
  }

  .butao-achei button {
    color: var(--cor4);
    background-color: var(--cor0);
    border: 2px solid var(--cor4);
  }

  .mobile-menu-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
  }

  .mobile-menu-icon i {
    color: var(--cor4);
  }

}