/* Reset de estilos globais */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Variáveis de cores e fontes */
:root {
  --cor0: #f9f9fa;
  --cor1: #cdfff2;
  --cor2: #cffaef;
  --cor3: #8acfbe;
  --cor4: #287a66;
  --cor5: #285046;
  --cor6: #2e3132;
  --fonte-padrao: "Baloo Bhaijaan 2", sans-serif;
  --fonte-destaque: "Baloo Bhai 2", sans-serif;
}

/* Estilos globais */
html {
  font-size: 1em;
}

body {
  height: 100%;
  background-color: var(--cor0);
  font-family: var(--fonte-destaque);
}

/* Cabeçalho */
.cabecalho {
  color: var(--cor6);
  display: flex;
  justify-content: space-between;
  background-color: var(--cor0);
  box-shadow: 5px 5px 5px rgb(0 0 0 / 12%);
  margin-top: 10px;
  padding-bottom: 20px;
}

.logo {
  color: var(--cor5);
  text-decoration: none;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 50px;
  white-space: nowrap;
  font-family: var(--fonte-padrao);
  font-weight: bolder;
}

.logo:hover {
  color: var(--cor5);
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.cabecalho .menu li {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 20px;
}

.cabecalho .menu li a:hover {
  color: var(--cor3);
}

.cabecalho .menu li a {
  text-decoration: none;
}

.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu li a {
  color: var(--cor6);
  text-decoration: none;
  vertical-align: middle;
}

#Anunciar a,
#Cadastrar a {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  font-family: var(--fonte-padrao);
  font-weight: bolder;
}

#Anunciar a {
  background-color: var(--cor4);
  color: var(--cor0);
}

#Anunciar a:hover {
  background-color: var(--cor5);
}

#Anunciar a:active {
  background-color: var(--cor6);
}

#Cadastrar a {
  color: var(--cor4);
  border: 2px solid var(--cor4);
}

#Cadastrar a:hover {
  background-color: var(--cor3);
}

#Cadastrar a:active {
  background-color: var(--cor6);
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu-icon button {
  background-color: transparent;
}

/* Define estilos para o título h1 */
h1 {
  font-weight: bolder;
  color: var(--cor4);
  margin-left: 30px;
}

/* Define estilos para o rodapé */
.rodape {
  color: var(--cor0);
  padding: 40px 0;
}

/* Define estilos para o contêiner do rodapé */
.container-rodape {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Define estilos para as informações no rodapé */
.informacoes,
.links-uteis,
.redes-sociais {
  flex-basis: 30%;
  text-align: center;
  color: var(--cor6);
}

/* Define estilos para os parágrafos e títulos no rodapé */
.rodape p,
.rodape h4 {
  color: var(--cor6);
  margin-bottom: 20px;
}

/* Define estilos para as listas no rodapé */
.rodape ul {
  list-style: none;
  padding: 0;
}

/* Define estilos para os itens da lista no rodapé */
.rodape li {
  margin-bottom: 10px;
}

/* Define estilos para os links no rodapé */
.rodape a {
  color: var(--cor6);
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Define estilos para os links no rodapé quando hover */
.rodape a:hover {
  color: var(--cor3);
}

/* Define estilos para a linha horizontal no rodapé */
.rodape hr {
  margin: 20px 0;
  border: 1px solid var(--cor6);
}

/* Define estilos para o texto de direitos autorais no rodapé */
.direitos-autorais {
  text-align: center;
  font-size: 12px;
}



.profile-card {
  max-width: 300px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-info {
  text-align: center;
  margin-top: -15%;
}

.profile-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.profile-info p {
  font-size: 16px;
  color: #666;
}

.profile-details {
  margin-top: 20px;
}

.profile-details label {
  display: block;
  margin-bottom: 10px;
}

.profile-details input,
.profile-details textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.botao {
  background-color: var(--cor4);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botao:hover {
  background-color: var(--cor5);
}

/* Estilos específicos para a página editor_perfil.html */
#editor {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#animalsTable_wrapper {
  width: 100%;
}

.dataTables_wrapper .dataTables_filter {
  float: left;
}

.dataTables_wrapper .dataTables_length {
  float: right;
}

.dataTables_wrapper .dataTables_paginate {
  float: right;
}

.dataTables_wrapper .dataTables_info {
  float: left;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}

.dataTables_wrapper .dataTables_length select {
  margin-left: 0.5em;
}

.edit-btn,
.delete-btn {
  color: var(--cor0);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: var(--cor4);
}

.delete-btn {
  background-color: #f00;
}

.edit-btn:hover {
  background-color: var(--cor5);
}

.delete-btn:hover {
  background-color: #f33;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--cor4);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--cor5);
}
