/* Reset de estilos globais */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Variáveis de cores e fontes */
:root {
  --cor0: #f9f9fa;
  --cor1: #cdfff2;
  --cor2: #cffaef;
  --cor3: #8acfbe;
  --cor4: #287a66;
  --cor5: #285046;
  --cor6: #2e3132;
  --fonte-padrao: "Baloo Bhaijaan 2", sans-serif;
  --fonte-destaque: "Baloo Bhai 2", sans-serif;
}

/* Estilos globais */
html {
  font-size: 1em;
}

body {
  height: 100%;
  background-color: var(--cor0);
  font-family: var(--fonte-destaque);
}

/* Cabeçalho */
.cabecalho {
  color: var(--cor6);
  display: flex;
  justify-content: space-between;
  background-color: var(--cor0);
  box-shadow: 5px 5px 5px rgb(0 0 0 / 12%);
  margin-top: 10px;
  padding-bottom: 20px;
}

.logo {
  color: var(--cor5);
  text-decoration: none;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 50px;
  white-space: nowrap;
  font-family: var(--fonte-padrao);
  font-weight: bolder;
}

.logo:hover {
  color: var(--cor5);
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.cabecalho .menu li {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 20px;
}

.cabecalho .menu li a:hover {
  color: var(--cor3);
}

.cabecalho .menu li a {
  text-decoration: none;
}

.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu li a {
  color: var(--cor6);
  text-decoration: none;
  vertical-align: middle;
}

#Anunciar a,
#Cadastrar a {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  font-family: var(--fonte-padrao);
  font-weight: bolder;
}

#Anunciar a {
  background-color: var(--cor4);
  color: var(--cor0);
}

#Anunciar a:hover {
  background-color: var(--cor5);
}

#Anunciar a:active {
  background-color: var(--cor6);
}

#Cadastrar a {
  color: var(--cor4);
  border: 2px solid var(--cor4);
}

#Cadastrar a:hover {
  background-color: var(--cor3);
}

#Cadastrar a:active {
  background-color: var(--cor6);
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu-icon button {
  background-color: transparent;
}
/* Define estilos para o título h1 */
h1 {
  font-weight: bolder;
  color: var(--cor4);
  margin-left: 30px;
}

/* Define estilos para o rodapé */
.rodape {
  color: var(--cor0);
  padding: 40px 0;
}

/* Define estilos para o contêiner do rodapé */
.container-rodape {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Define estilos para as informações no rodapé */
.informacoes,
.links-uteis,
.redes-sociais {
  flex-basis: 30%;
  text-align: center;
  color: var(--cor6);
}

/* Define estilos para os parágrafos e títulos no rodapé */
.rodape p,
.rodape h4 {
  color: var(--cor6);
  margin-bottom: 20px;
}

/* Define estilos para as listas no rodapé */
.rodape ul {
  list-style: none;
  padding: 0;
}

/* Define estilos para os itens da lista no rodapé */
.rodape li {
  margin-bottom: 10px;
}

/* Define estilos para os links no rodapé */
.rodape a {
  color: var(--cor6);
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Define estilos para os links no rodapé quando hover */
.rodape a:hover {
  color: var(--cor3);
}

/* Define estilos para a linha horizontal no rodapé */
.rodape hr {
  margin: 20px 0;
  border: 1px solid var(--cor6);
}

/* Define estilos para o texto de direitos autorais no rodapé */
.direitos-autorais {
  text-align: center;
  font-size: 12px;
}

/* Estilos para dispositivos com largura até 768px (tablet e dispositivos móveis) */
@media screen and (max-width: 768px) {
  .cabecalho {
    align-items: normal;
  }

  .logo {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .menu {
    list-style-type: none;
    margin-top: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #285046;
    transition: height 0.2s;
    overflow: hidden;
    height: 0;
    min-height: 0;
  }


  .menu.active {
    height: 450px;
    min-height: 150px;
  }

  .menu li {
    display: block;
    margin-left: 0;
  }

  .menu li a {
    display: block;
    padding: 10px 0;
    text-align: left;
    color: var(--cor0);
  }

  .menu li a:hover {
    color: var(--cor0);
  }

  #Anunciar a,
  #Cadastrar a {
    margin-top: 10px;
    background-color: var(--cor4);
    color: var(--cor0);
    border: 0px;
  }

  #Anunciar a:hover,
  #Cadastrar a:hover {
    background-color: var(--cor3);
  }

  .butao-achei button {
    color: var(--cor4);
    background-color: var(--cor0);
    border: 2px solid var(--cor4);
  }

  .mobile-menu-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
  }

  .mobile-menu-icon i {
    color: var(--cor4);
  }
}

.login-box {
  border: 2px solid #287A65;
  border-radius: 8px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #287A65;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box input[type="submit"],
.login-box .register-button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #287A65;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-box input[type="submit"],
.login-box .Entrar {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #287A65;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-box .register-button {
  background-color: #287A65;
  text-align: center;
}

.login-box p {
  font-size: 12px;
  text-align: center;
  color: #666;
  margin-top: 10px;
}

.login-box a {
  color: #287A65;
  text-decoration: none;
}

.login-box a:hover {
  text-decoration: underline;
}

#login p {
  font-size: 12px;
  text-align: center;
  color: #666;
  margin-top: 10px;
}

#login a {
  color: #287A65;
  text-decoration: none;
}

#login a:hover {
  text-decoration: underline;
}

#cadastro .cadastro-box {
  border: 2px solid #287A65;
  border-radius: 8px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cadastro h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #287A65;
}

#cadastro input[type="text"],
#cadastro input[type="email"],
#cadastro input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#cadastro button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #287A65;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#cadastro p {
  font-size: 12px;
  text-align: center;
  color: #666;
  margin-top: 10px;
}

#cadastro a {
  color: #287A65;
  text-decoration: none;
}

#cadastro a:hover {
  text-decoration: underline;
}

/* Define estilos para a versão tablet do menu */