* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  :root {
    --cor0: #f9f9fa;
    --cor1: #AED1D1;
    --cor2: #cffaef;
    --cor3: #082A33;
    --cor4: #03b46d;
    --cor5: #0E3B41;
    --cor6: #197370;
    --fonte-padrao: "Baloo Bhaijaan 2", sans-serif;
    --fonte-destaque: "Baloo Bhai 2", sans-serif;
  }
  
  html {
    font-size: 1em;
  }
  
  body {
    height: 100%;
    background-color: var(--cor0);
    font-family: var(--fonte-destaque);
  }
  
  .cabecalho {
    color: var(--cor3);
    display: flex;
    justify-content: space-between;
    background-color: var(--cor0);
    box-shadow: 5px 5px 5px rgb(0 0 0 / 12%);
    margin-top: 10px;
    padding-bottom: 20px;
  }
  
  .logo {
    color: var(--cor4);
    text-decoration: none;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 50px;
    white-space: nowrap;
    font-family: var(--fonte-padrao);
    font-weight: bolder;
  }
  
  .logo:hover {
    color: var(--cor5);
  }
  
  .menu {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .cabecalho .menu li {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
  }
  
  .cabecalho .menu li a:hover {
    color: var(--cor4);
  }
  
  .cabecalho .menu li a {
    text-decoration: none;
  }
  
  .menu li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .menu li a {
    color: var(--cor3);
    text-decoration: none;
    vertical-align: middle;
  }
  
  #Anunciar a,
  #Cadastrar a {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    font-family: var(--fonte-padrao);
    font-weight: bolder;
  }
  
  #Anunciar a {
    background-color: var(--cor5);
    color: var(--cor0);
  }
  
  #Anunciar a:hover {
    background-color: var(--cor4);
  }
  
  #Anunciar a:active {
    background-color: var(--cor1);
  }
  
  #Cadastrar a {
    color: var(--cor0);
    background-color: var(--cor4);
  }
  
  #Cadastrar a:hover {
    background-color: var(--cor3);
  }
  
  #Cadastrar a:active {
    background-color: var(--cor1);
  }
  
  .mobile-menu-icon {
    display: none;
  }
  
  .mobile-menu-icon button {
    background-color: transparent;
  }
  
  main {
    display: flex;
    padding: 20px;
  }
  
  .filters {
    width: 250px;
    padding: 20px;
    background-color: var(--cor4);
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    margin-right: 20px;
  }
  
  .filters h2 {
    margin-bottom: 20px;
  }
  
  .filter-group {
    margin-bottom: 20px;
  }
  
  .filter-group h3 {
    margin-bottom: 10px;
  }
  
  .filter-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .filter-group input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .btnFiltrar,
  .btnResetar,
  .SeusAnuncios {
    background-color: var(--cor5);
    color: var(--cor0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }
  
  .btnFiltrar:hover,
  .btnResetar:hover,
  .SeusAnuncios:hover {
    background-color: var(--cor6);
  }
  
  .results {
    flex: 1;
    padding-left: 20px;
  }
  
  #results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* This line is good for responsiveness */
    gap: 20px;
  }
  
  /* Adjust grid for two cards per row */
  @media (min-width: 600px) {
    #results {
      grid-template-columns: repeat(2, 1fr); /* Two cards per row on larger screens */
    }
  }
  
  .pet-card {
    display: flex;
    flex-direction: row; /* Define o layout em linha */
    background-color: var(--cor1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .pet-card img {
    width: 40%; /* Define a largura da imagem */
    height: auto; /* A altura será ajustada automaticamente */
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; /* Canto inferior esquerdo arredondado */
    border-top-right-radius: 0; /* Remove o raio do canto superior direito */
  }
  
  .pet-info {
    padding: 20px;
    flex: 1; /* Permite que a seção de informações ocupe o espaço restante */
  }
  
  .pet-info h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .pet-info strong {
    font-weight: bold;
  }
  
  .pet-info p {
    margin-bottom: 5px;
  }
  
  .pet-info p.species {
    color: #888;
  }
  
  .status {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .edit-delete-container {
    display: flex;
    gap: 10px;
  }
  
  .btn-custom-green {
    background-color: var(--cor4);
    color: white;
  }
  
  .btn-custom-green:hover {
    background-color: var(--cor5);
    color: white;
  }
  
  .pet-info .btn-danger {
    margin-left: auto;
  }
  
  /* Ensure consistent styling */
  .btn-custom-green {
    background-color: var(--cor4);
    color: white;
  }
  
  .btn-custom-green:hover {
    background-color: var(--cor5);
    color: white;
  }
  
  .pet-info .btn-danger {
    margin-left: auto;
  }
  
  section > h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bolder;
    color: var(--cor3);
  }

  .criar-anuncio {
    margin-top: 20px;
    text-align: center;
  }
  
  .criar-anuncio button {
    padding: 12px 24px;
    font-weight: bold;
    background-color: var(--cor3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: var(--cor0);
  }
  
  .criar-anuncio button:hover {
    background-color: var(--cor4);
  }
  
  .criar-anuncio button {
    padding: 12px 24px;
    font-weight: bold;
    background-color: var(--cor3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 20px;
    display: inline-block;
  }
  
  .criar-anuncio a {
    text-decoration: none;
    color: var(--cor0);
  }
  
  .criar-anuncio button:hover {
    background-color: var(--cor4);
  }
  
  .rodape {
    color: var(--cor0);
    padding: 40px 0;
  }
  
  .container-rodape {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .informacoes,
  .links-uteis,
  .redes-sociais {
    flex-basis: 100%;
    text-align: center;
    color: var(--cor6);
    margin-bottom: 30px;
  }
  
  .rodape p,
  .rodape h4 {
    color: var(--cor5);
    margin-bottom: 20px;
  }
  
  .rodape ul {
    list-style: none;
    padding: 0;
  }
  
  .rodape li {
    margin-bottom: 10px;
  }
  
  .rodape a {
    color: var(--cor6);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .rodape a:hover {
    color: var(--cor4);
  }
  
  .rodape hr {
    margin: 20px 0;
    border: 1px solid var(--cor6);
  }
  
  .direitos-autorais {
    text-align: center;
    font-size: 12px;
  }
  
  @media screen and (max-width: 768px) {
    main {
      flex-direction: column;
    }
    .cabecalho {
      align-items: normal;
    }
  
    .logo {
      margin-left: 0;
      margin-bottom: 20px;
    }
  
    .menu {
      list-style-type: none;
      margin-top: 0;
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      width: 100vw;
      background: var(--cor5);
      transition: height 0.2s;
      overflow: hidden;
      height: 0;
      min-height: 0;
      z-index: 20;
    }
  
    #Anunciar a {
      margin-bottom: 5px;
      background-color: var(--cor4);
      border-right: 20px;
    }
  
    .menu.active {
      height: 450px;
      min-height: 150px;
    }
  
    .menu li {
      display: block;
      margin-left: 0;
    }
  
    .menu li a {
      display: block;
      padding: 10px 0;
      text-align: left;
      color: var(--cor0);
    }
  
    .menu li a:hover {
      color: var(--cor0);
    }
  
    .mobile-menu-icon {
      display: block;
      font-size: 30px;
      cursor: pointer;
      margin-right: 10px;
    }
  
    .mobile-menu-icon i {
      color: var(--cor4);
    }
  
    .filters {
      width: 100%;
      margin-bottom: 20px;
      border-radius: 5px;
      padding: 10px;
    }
  
    .btnFiltrar,
    .btnResetar,
    .SeusAnuncios {
      width: 100%;
      margin-right: 0;
      margin-top: 5px;
    }
  
    .filter-group {
      margin-bottom: 10px;
    }
  
    .filter-group input[type="text"] {
      width: 100%;
      padding: 8px;
    }
  
    .pet-card {
      max-width: 100%;
      flex-direction: column;
      margin: 10px 0;
      z-index: 10;
    }
  
    .pet-card img {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
  }
  